{{ define "content" }}
<h1>The Game</h1>

<div id="canvasContainer">
	<canvas id="mainCanvas" width="500" height="200">
		Your browser does not support HTML5 canvas tags
		Consider upgrading to the most recent version of:
			Google Chrome
			Firefox
			Internet Explorer
	</canvas>
</div>
<div><a href="javascript:move('up');">up</a></div>
<div><a href="javascript:move('left');">left</a>
<a href="javascript:move('right');">right</a></div>
<div><a href="javascript:move('down');">down</a></div>
<script type="text/javascript">view()</script>
{{ end }}
